body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.container{
    width: 1170px;
    max-width: 1170px;
    margin: 0 auto;
}

/* 공지사항 섹션 */
.notice{
    display: flex;
    width: 100%;
    background-color: #004E89;
    color: #fff;
    padding: 10px 0;
}

.notice .contents{
    display: flex;
    justify-content: space-between;
}

.notice .contents strong{
    display: inline-block;
    margin-right: 5px;
}

#notice-close{
    display: none;
}

#notice-close:checked + .notice{
    display: none;
}

/* 헤더/네비게이션 스타일 */
.header{
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: solid 1px #E5E5E5;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header a{
    text-decoration: none;
}

.header .contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header .contents .logo{
    height: 27px;
}

.header .contents .menu{
    display: flex;
    gap: 20px;
}

.header .contents .menu a{
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.4s;
    padding: 9px 12px 8px;
    border-radius: 6px;
}

.header .contents .menu a:hover{
    background-color: #FF6B352A;
}

.header .contents .sign{
    display: flex;
    gap: 5px;
}

.header .contents .signin{
    color: #000;
    border: 2px solid #FF6B35;
    padding: 9px 16px 6px;
    border-radius: 5px;
    font-weight: 500;
}

.header .contents .signup{
    color: #fff;
    background-color: #FF6B35;
    padding: 11px 16px 8px;
    border-radius: 4px;
    font-weight: 500;
}

/* 푸터 영역 스타일 */
footer{
    margin-top: 0px;
    background-color: #023047;
    padding: 100px 0;
    font-size: 16px;
    color: #fff;
}

footer .contents{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

footer .contents .logo{
    height: 40px;
    filter: brightness(0) invert(1);
}

footer .contents p{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0;
}

footer .contents .info{
    display: flex;
    align-items: center;
    gap: 20px;
}

footer .contents .list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .contents .list .title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 0;
}

footer .contents .list .items{
    display: flex;
    gap: 10px;
}

footer .contents .list .items a{
    color: #fff;
    font-size: 36px;
}